project/project/
results/
eclipse-bin/
/data/
/bin

*.class
*.log

# sbt specific
.cache
.classpath
.project
.settings
.worksheet
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache-main
.cache-tests

.DS_Store

